body {
    margin: 0;
    background-image: url();
    padding: 70px;
    font-family: 'Doto';
}

main {
    background-color: brown;
    padding: 50px;
    border-radius: 20px;
}

h1 {
    border: yellow 5px solid;
    padding: 10px;
}

h2 {
    border: palevioletred 3px solid;
    padding: 5px;
    color
}

#datos {
    border: greenyellow solid 5px;
}
#datos li {
    padding: 10px;
    color: blue;
}

#description {
    background-color: darkslateblue;
    text-align: center;
    color: white;
    padding: 40px;
    width: 50%;
    margin: auto;
}
#description h2{
    color: pink;
    border:none;
}
#contenido {
    color: white;
}

.laquetuquieras {
    color: white;
}